p {
  font-size: 14px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: 600;
  margin-top: 20px;
}

.add-from-contacts-button {
  background-color: var(--color-acento);
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 14px;
  align-self: center;
  border-radius: 999px;
  cursor: pointer;
  img {
    height: 25px;
    width: 25px;
  }
}

//quitar luego cuando funcione
.texboxError {
  transition: 0.5s;
  border: 1px solid var(--color-error);
}

.texboxSuccess {
  transition: 0.5s;
  border: 1px solid var(--color-success);
}

.texboxContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.tip {
  font-size: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-top: 5px !important;
  margin-left: 15px;
  color: var(--color-secondarytext);
  transition: 0.5s;
}

.tipError {
  transition: 0.5s;
  color: var(--color-error);
}

.tipSuccess {
  transition: 0.5s;
  color: var(--color-success);
}

//hasta aqui

.action-buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.cancel-button {
  background-color: var(--color-error);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  cursor: pointer;

  img {
    height: 35px;
    width: 35px;
    rotate: 45deg;
  }
}

.accept-button {
  background-color: var(--color-success);
  height: 50px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
}
