<ion-content [fullscreen]="true">
  <app-page-header [pageTitle]="'Nuevo amigo'" [translucentFloatingHeader]="true"></app-page-header>
  <div class="page-container">
    <div class="texboxContainer list-container">
      <app-textbox
        (validitychange)="isValidName = $event"
        [(value)]="name"
        [fieldtype]="'name'"
        [inputlabel]="'Nombre'"
        [isrequired]="true"
        [maxlength]="50"
      ></app-textbox>

      <app-textbox
        (validitychange)="isValidSurname = $event"
        [(value)]="surname"
        [fieldtype]="'surname'"
        [inputlabel]="'Apellidos'"
        [isrequired]="true"
        [maxlength]="50"
      >
      </app-textbox>

      <app-textbox
        (validitychange)="isValidPhone = $event"
        [(value)]="phone"
        [fieldtype]="'phone'"
        [inputlabel]="'Telefono'"
        [isrequired]="true"
        [maxlength]="20"
      ></app-textbox>

      <app-textbox
        (validitychange)="isValidEmail = $event"
        [(value)]="email"
        [fieldtype]="'email'"
        [inputlabel]="'Correo electrónico'"
        [isrequired]="false"
        [maxlength]="100"
      ></app-textbox>
      <div (click)="addFromContacts()" class="add-from-contacts-button">
        <img src="assets/images/contacts.png"/>Añadir desde contactos
      </div>
    </div>
  </div>
  <app-accept-cancel-footer (onAcceptClick)="createFriend()" (onCancelClick)="goBack()"></app-accept-cancel-footer>
</ion-content>
