<ion-content fullscreen="false">
  <div
    style="
      display: flex;
      padding: 25px;
      height: 100%;
      flex-grow: 1;
      flex-direction: column;
      background-color: var(--color-background);
    "
  >
    <div class="texboxContainer">
      <!-- Top header with back button -->
      <div style="display: flex; align-items: center">
        <div
          (click)="goBack()"
          style="
            background-color: var(--color-contenedor-2);
            height: 60px;
            width: 60px;
            border-radius: 30px;
            padding: 17px;
          "
        >
          <img src="assets/images/back.png" />
        </div>
      </div>
      <label
        style="
          font-size: 25px;
          font-weight: 600;
          text-align: center;
          position: absolute;
          align-self: center;
          margin-top: 15px;
        "
        >Nuevo amigo</label
      >

      <app-textbox
        [(value)]="name"
        [inputlabel]="'Nombre'"
        [fieldtype]="'name'"
        [isrequired]="true"
        (validitychange)="isValidName = $event"
        [maxlength]="50"
      ></app-textbox>

      <app-textbox
        [(value)]="surname"
        [inputlabel]="'Apellidos'"
        [fieldtype]="'surname'"
        [isrequired]="true"
        (validitychange)="isValidSurname = $event"
        [maxlength]="50"
      ></app-textbox>

      <app-textbox
        [(value)]="phone"
        [inputlabel]="'Telefono'"
        [fieldtype]="'phone'"
        [isrequired]="true"
        (validitychange)="isValidPhone = $event"
        [maxlength]="20"
      ></app-textbox>

      <app-textbox
        [(value)]="email"
        [inputlabel]="'Correo electrónico'"
        [fieldtype]="'email'"
        [isrequired]="false"
        (validitychange)="isValidEmail = $event"
        [maxlength]="100"
      ></app-textbox>
    </div>

    <!-- Accept and close buttons -->
    <div class="add-from-contacts-button" (click)="addFromContacts()">
      <img src="assets/images/contacts.png" />Añadir desde contactos
    </div>

    <div class="action-buttons-container">
      <div class="cancel-button" (click)="goBack()">
        <img src="assets/images/more.png" />
      </div>
      <div class="accept-button" (click)="createFriend()">Aceptar</div>
    </div>
  </div>
</ion-content>
