<div class="overlay" id="overlay" (click)="cerrarPopup()"></div>

<div class="popup" id="popup">
  <div class="popup-content">
    <div style=" display: flex; flex-grow: 1; align-items: center; justify-content: center;">
      <div
        style="background-color: var(--color-secondarytext); margin-bottom: 15px; width: 50px; height: 4px; border-radius: 2px;">
      </div>
    </div>

    <label style="font-size: 25px; font-weight: 600; text-align: center; align-self: center; flex-grow: 1;">Añadir
      nuevo amigo</label>

    <img style="height: 150px; width: 150px; margin: 20px;" src="assets/images/pfp.webp">

    <label
      style="font-size: 18px; font-weight: 600; flex-grow: 1; display: flex; flex-direction: column-reverse;">Nombre
      y apellidos</label>
    <input
      style="width: 100%; height: 60px; margin-top: 10px; padding: 10px; outline:none; border: 0px; background-color: var(--color-background); border-radius: 20px;"
      type="text" id="fname" name="fname" size="9">

    <label
      style="font-size: 18px; margin-top: 15px; font-weight: 600; flex-grow: 1; display: flex; flex-direction: column-reverse;">Apellidos</label>
    <input
      style="width: 100%; height: 60px; margin-top: 10px; padding: 10px; outline:none; border: 0px; background-color: var(--color-background); border-radius: 20px;"
      type="text" id="fname" name="fname" size="9">

    <label
      style="font-size: 18px; margin-top: 15px; font-weight: 600; flex-grow: 1; display: flex; flex-direction: column-reverse;">Teléfono</label>
    <input
      style="width: 100%; height: 60px; margin-top: 10px; padding: 10px; outline:none; border: 0px; background-color: var(--color-background); border-radius: 20px;"
      type="text" id="fname" name="fname" size="9">

    <div
      style=" display: flex; padding: 15px; border-radius: 30px; background-color: var(--color-acento); align-items: center; height: 60px; margin-top: 25px;">
      <label style="font-weight: 450; font-size: 16px; text-align: center; flex-grow: 1;"> Finalizar </label>
    </div>

  </div>
</div>