.page-container {
  height: 100%;
  width: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  padding: 0 25px;
}

/*Holds the account name, IBAN, Balance and the currency dropdown */
.textboxContainer {
  display: flex;
  flex-direction: column;
}

/*Button that opens the select-bank page (modal behaviour)*/
.bank-selection-button {
  background-color: var(--color-acento);
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--field-radius);
  font-weight: 500;
}

/*Contains the previosly seen bank button and the restart selection button when needed*/
.bank-display-container {
  display: flex;
  width: 100%;
  gap: 10px;

  .selected-bank-button {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--field-radius);
    font-weight: 600;
    flex-grow: 1;
  }

  /*Restart selection button, red with a cross icon*/
  .restart-selection-button {
    height: 55px;
    width: 55px;
    background-color: var(--color-error);
    border-radius: var(--field-radius);
    align-items: center;
    justify-content: center;
    display: flex;

    .restart-selection-icon {
      height: 25px;
      width: 25px;
      rotate: 45deg;
    }
  }
}
