<ion-content>
  <app-page-header [pageTitle]="'Crear cuenta'"></app-page-header>
  <div class="page-container">
    <div class="list-container">
      <div class="textboxContainer">
        @if (selectedBank == undefined) {
          <div (click)="openBankSelectionModal()" class="bank-selection-button">
            Seleccionar banco
          </div>
        } @else {
          <div class="bank-display-container">
            <div
              [ngStyle]="{'background-color': selectedBank.corporateColorHex, border: '1px solid ' + selectedBank.corporateColorHexSecondary, 'color': selectedBank.corporateColorHexSecondary}"
              class="selected-bank-button"
            >
              {{ selectedBank.shortName }}
            </div>
            <div (click)="restartBankSelection()" class="restart-selection-button">
              <img class="restart-selection-icon" src="assets/images/more.png"/>
            </div>
          </div>
        }
      </div>

      <app-textbox
        (validitychange)="accountNameValid = $event"
        [(value)]="AccountName"
        [fieldtype]="'name'"
        [inputlabel]="'Nombre de cuenta*'"
        [isrequired]="true"
        [maxlength]="50">
      </app-textbox>

      <app-textbox
        (validitychange)="accountIBANValid = $event"
        [(value)]="AccountIBAN"
        [fieldtype]="'iban'"
        [inputlabel]="'IBAN'"
        [isrequired]="true"
        [maxlength]="34">
      </app-textbox>

      <app-dropdown
        [dropdownLabel]="'Moneda'"
        [dropdownTip]="'Tipo de moneda de la cuenta'"
        [options]="currencyOptions"
        [placeholder]="'Selecciona una moneda'">
      </app-dropdown>

      <app-textbox
        (validitychange)="startingAmountValid = $event"
        [(value)]="startingAmount"
        [fieldtype]="'number'"
        [inputlabel]="'Balance inicial*'"
        [isrequired]="true"
        [maxlength]="50">
      </app-textbox>
    </div>
  </div>
  <app-accept-cancel-footer
    (onAcceptClick)="storeData()"
    (onCancelClick)="goBack()">
  </app-accept-cancel-footer>
</ion-content>
