.page-container {
  height: 100%;
  width: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  padding: 25px;
}

/*Holds the account name, IBAN, Balance and the currency dropdown */
.textboxContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

//TODO: Conver this to a component, header is repeated in other pages, passing page name as input
/*Back button and page title*/
.header-container {
  display: flex;
  align-items: center;

  .back-btn {
    background-color: var(--color-contenedor-2);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    padding: 17px;
  }
}

.page-title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  align-self: center;
  margin-top: 15px;
}

/*Button that opens the select-bank page (modal behaviour)*/
.bank-selection-button {
  background-color: var(--color-acento);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-weight: 600;
}

/*Contains the previosly seen bank button and the restart selection button when needed*/
.bank-display-container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.selected-bank-button {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-weight: 600;
  flex-grow: 1;
}

/*Restart selection button, red with a cross icon*/
.restart-selection-button {
  height: 80px;
  width: 80px;
  background-color: var(--color-error);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  display: flex;

  .restart-selection-icon {
    height: 50px;
    width: 50px;
    rotate: 45deg;
  }
}

/*Holds the imput texbox/dropdown and the label on top of it*/
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .input-label {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding-left: 10px;
  }
}

/*Balance has its own container class, as it has the extra currency icon*/
.balance-input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;

  .balance-input {
    width: 100%;
    margin-top: 0px;
  }

  .currency-icon {
    height: 100%;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/*Hods the accept and close buttons*/
.action-buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;

  .action-button {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
  }

  .close-button {
    background-color: var(--color-error);
    width: 50px;
  }

  .close-icon {
    height: 35px;
    width: 35px;
    rotate: 45deg;
  }

  .accept-button {
    background-color: var(--color-success);
    flex-grow: 1;
    font-weight: 600;
  }
}
