<ion-content fullscreen="false">
  <div
    style="height: 100%; width: 100%; float: right; display: flex; flex-direction: column; background-color: var(--color-background);">
    <div class="contentContainer">
      <label class="tittle">Más</label>

      <p>Tús perfil</p>
      <div class="profileOption">
        <div class="profileOptionIcon">P</div>
        <div style="display: flex; flex-direction: column; gap: 4px; margin-left: 10px; flex-grow: 1;">
          <label style="flex-grow: 1; margin-left: 10px;"> Pepe Perez Perez </label>
          <label style="flex-grow: 1; margin-left: 10px; font-size: 12px; color: var(--color-secondarytext);"> pepeperezperez&#64;example.com </label>
        </div>
        <img class="settingsIcon" src="assets/images/continue.png">
      </div>

      <p>Aplicación</p>
      <div class="sectionContainer">
        <div class="settingsOptionTop" style="border-bottom-left-radius: 2px;">
          <img class="settingsIcon" src="assets/images/cloud_backup.png">
          <label style="flex-grow: 1; margin-left: 10px;"> Sincronización en la nube </label>
          <img class="settingsIcon" src="assets/images/continue.png">
        </div>

        <div class="settingsOptionMiddle">
          <img class="settingsIcon" src="assets/images/preferences.png">
          <label style="flex-grow: 1; margin-left: 10px;"> Preferencias de la app </label>
          <img class="settingsIcon" src="assets/images/continue.png">
        </div>

        <div class="settingsOptionBottom">
          <img class="settingsIcon" src="assets/images/fingerprint.png">
          <label style="flex-grow: 1; margin-left: 10px;"> Bloqueo con huella dactilar </label>
          <img class="settingsIcon" src="assets/images/continue.png">
        </div>
      </div>

      <p>Información</p>
      <div class="sectionContainer">
        <div class="settingsOptionTop" routerLink="/statistics">
          <img class="settingsIcon" src="assets/images/statistics.png">
          <label style="flex-grow: 1; margin-left: 10px;"> Estadísticas </label>
          <img class="settingsIcon" src="assets/images/continue.png">
        </div>

        <div class="settingsOptionMiddle" routerLink="/friends">
          <img class="settingsIcon" src="assets/images/friends.png">
          <label style="flex-grow: 1; margin-left: 10px;"> Gestionar amigos </label>
          <img class="settingsIcon" src="assets/images/continue.png">
        </div>

        <div class="settingsOptionBottom" routerLink="/accounts">
          <img class="settingsIcon" src="assets/images/wallet.png">
          <label style="flex-grow: 1; margin-left: 10px;"> Gestionar cuentas </label>
          <img class="settingsIcon" src="assets/images/continue.png">
        </div>
      </div>

    </div>
  </div>
</ion-content>