.searchbarContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  .searchIcn {
    height: 25px;
    width: 25px;
  }
  input {
    font-size: 16px;
    width: 100%;
    color: var(--color-primarytext);
    background: transparent;
    border: none;
    outline: none;
  }
}
