<ion-content [fullscreen]="true">
  <app-page-header [pageTitle]="'Amigos'"></app-page-header>
  <div class="friends-page-container">
    <div class="friendsContainer list-container">
      <div *ngFor="let friend of friendList" class="amigoItem">
        <div class="icnAmigo">
          <p>{{ friend.FullName.charAt(0).toUpperCase() }}</p>
        </div>
        <div class="friend-details">
          <label class="friend-name"> {{ friend.FullName }} </label>
          <label class="friend-phone"> {{ friend.Phone }} </label>
        </div>
        <img class="continue-icon" src="assets/images/continue.png"/>
      </div>
    </div>
  </div>
  <app-new-register-page-footer
    (actionButton)="nuevoAmigo()"
    [buttonIcon]="'assets/images/more.png'"
    [buttonText]="'Nuevo amigo'">
  </app-new-register-page-footer>
</ion-content>
