<div #popupContainer class="popup-container" (click)="cerrarPopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <!-- Main calendar container -->
    <div class="calendar-container">

      <!-- Selector de Mes -->
      <div class="calendar-header">
        <div class="btnMonths" (click)="changeMonth(-1)">
          <img style="height: 30px; width: 30px; rotate: 180deg;" src="assets/images/continue.png">
        </div>
        <span>{{ currentDate.toLocaleString('default', { month: 'long', year: 'numeric' }) }}</span>
        <div class="btnMonths" (click)="changeMonth(1)">
          <img style="height: 30px; width: 30px;" src="assets/images/continue.png">
        </div>
      </div>

      <!-- Días de la semana -->
      <div class="calendar-grid">
        <div class="day-name" *ngFor="let day of ['D', 'L', 'M', 'X', 'J', 'V', 'S']">{{ day }}</div>

        <!-- Generar días del mes -->
        <div *ngFor="let day of days" class="day" [class.empty]="day.isPreviousMonth || day.isNextMonth"
          [class.disabled]="day.isFuture"
          [class.range-start]="!day.isPreviousMonth && !day.isNextMonth && !day.isFuture && isRangeStart(day.day)"
          [class.range-end]="!day.isPreviousMonth && !day.isNextMonth && !day.isFuture && isRangeEnd(day.day)"
          [class.in-range]="!day.isPreviousMonth && !day.isNextMonth && !day.isFuture && isInRange(day.day)"
          (click)="!day.isFuture && !day.isPreviousMonth && !day.isNextMonth && selectDate(day.day)">
          {{ day.day }}
        </div>

      </div>

      <!-- Opciones preestablecidas -->
      <div style="height: 20px;"></div>
      <span style="font-weight: 600;">Rango preestablecido</span>
      <div style="height: 15px;"></div>
      <div style="display: flex; gap: 10px;">
        <div style="padding: 10px; border-radius: 20px; width: fit-content; background-color: var(--color-acento); flex-grow: 1;">
          <label>Hoy</label>
        </div>

        <div style="padding: 10px; border-radius: 20px; width: fit-content; background-color: var(--color-acento); flex-grow: 1;">
          <label>Ayer</label>
        </div>

        <div style="padding: 10px; border-radius: 20px; width: fit-content; background-color: var(--color-acento); flex-grow: 1;">
          <label>Últimos 7</label>
        </div>

        <div style="padding: 10px; border-radius: 20px; width: fit-content; background-color: var(--color-acento); flex-grow: 1;">
          <label>Ultimos 30</label>
        </div>
      </div>

      <!-- Botones cerrar y aceptar -->
      <div style="display: flex; gap: 10px;">
        <div
          style="background-color: var(--color-error); height: 50px; width: 50px; display: flex; align-items: center; justify-content: center; border-radius: 25px;"
          (click)="cerrarPopup()"> <img style="height: 35px; width: 35px; rotate: 45deg;" src="assets/images/more.png">
        </div>
        <div
          style="background-color: var(--color-success); height: 50px; display: flex; flex-grow: 1; align-items: center; justify-content: center; border-radius: 25px; font-weight: 600; "
          (click)="cerrarPopup()"> Aceptar </div>
      </div>
    </div>
  </div>
</div>