<ion-content [fullscreen]="true">
  <div style="height: 100%; width: 100%; float: right; display: flex; flex-direction: column; background-color: var(--color-background); padding: 25px;">
    <label style="font-size: 25px; font-weight: 600;">Historial de actividad</label>
  
    <div class="timeFilter">
      <div class="btnTime">Hoy</div>
      <div class="btnTime">Ayer</div>
      <div class="btnTime">Últimos 7 dias</div>
      <div class="btnTime">Últimos 30 dias</div>
      <div class="btnTime">Últimos 90 dias</div>
      <div class="btnTime">Histórico</div>
    </div>
  
    <div class="lastTransacctions">
      <div class="transactionItem">
          <div class="icnTransaccion"> <img src="assets/images/revolut_icon.png"></div>
          <div style="display: flex; flex-direction: column; gap: 4px; margin-left: 10px; flex-grow: 1;">
              <label style="font-weight: 450; font-size: 16px; flex-grow: 1;"> Pago Revolut</label>
              <label style="font-weight: 450; font-size: 12px; color: var(--color-secondarytext);"> Sab, 28 Ene 2025</label>
          </div>
          <label style="color: var(--color-error); font-weight: 600; font-size: 18px;"> -15,50$ </label>
      </div>
    
      <div class="transactionItem">
          <div class="icnTransaccion"> <img src="assets/images/revolut_icon.png"></div>
          <div style="display: flex; flex-direction: column; gap: 4px; margin-left: 10px; flex-grow: 1;">
              <label style="font-weight: 450; font-size: 16px; flex-grow: 1;"> Pago Revolut</label>
              <label style="font-weight: 450; font-size: 12px; color: var(--color-secondarytext);"> Sab, 28 Ene 2025</label>
          </div>
          <label style="color: var(--color-success); font-weight: 600; font-size: 18px;"> -15,50$ </label>
      </div>
    </div>
  </div>
</ion-content>
