.navbar 
{
    display: grid;
    z-index: 999;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    padding: 20px 10px 20px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: fit-content;
}



.divContenedorOpcion
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconSetup
{
    height: 35px;
    width: 35px;
}

.btnMore
{
    background-color: var(--color-acento);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 15px var(--color-acento-shadow);
}


.cajaTexto
{
    padding: 4px; 
    border-radius: 8px;
    color: white;
    width: fit-content;
    font-weight: 350;
}

.cajaTextoSeleccionado
{
    background-color: var(--color-acento);
    box-shadow: 0 0px 15px var(--color-acento-shadow);
    padding: 4px; 
    border-radius: 8px;
    color: rgb(255, 255, 255);
    width: fit-content;
    font-weight: 400;
}

.textoOpciones
{
    text-align: center; 
    font-size: 14px;
    padding: 2px 7px 2px 7px;
    transition: 0.2s ease-in-out;
    border-radius: 8px;
    
}

.textoOpcionesSelected
{
    transition: 0.2s ease-in-out;
    background-color: var(--color-acento);
    box-shadow: 0 0px 15px var(--color-acento-shadow);
    padding: 2px 7px 2px 7px;
    border-radius: 8px;
}
