<h3>{{ inputlabel }}</h3>
<input
  class="reactiveField dataInput"
  [ngClass]="{
    texboxError: isValid === false,
    texboxSuccess: isValid === true,
  }"
  [(ngModel)]="value"
  (input)="onInputChange($event); validateValue()"
  maxlength="{{ maxlength }}"
/>
<div class="tipContainer">
  <h3
    class="tip"
    [ngClass]="{
      tipError: isValid === false,
      tipSuccess: isValid === true
    }"
  >
    {{ currentTip }}
  </h3>
  <h3 *ngIf="maxlength !== 0" class="maxCharTip">
    {{ value.length }}/{{ maxlength }}
  </h3>
</div>
