/*Holds the imput texbox/dropdown and the label on top of it*/
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .input-label {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding-left: 10px;
  }
}

//It puts a colored halo around the texbox, for error or success
.texboxError {
  transition: 0.5s;
  border: 1px solid var(--color-error);
}
.texboxSuccess {
  transition: 0.5s;
  border: 1px solid var(--color-success);
}

.tip {
  font-size: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-top: 5px !important;
  margin-left: 15px;
  color: var(--color-secondarytext);
  transition: 0.5s;
}

.tipError {
  transition: 0.5s;
  color: var(--color-error);
}

.tipSuccess {
  transition: 0.5s;
  color: var(--color-success);
}
