:root {
  --ion-background-color: rgb(0, 0, 0);
  --ion-background-color-rgb: rgb(0, 0, 0);
  --background: rgb(0, 0, 0);

  //Background and container colors
  --color-background: rgb(0, 0, 0);
  --color-contenedor-2: rgb(30, 30, 30);
  --color-contenedor: rgb(53, 53, 53);

  --color-acento: rgb(245, 72, 0);
  --color-acento2: rgb(55, 155, 255);
  --color-acento-shadow: rgba(244, 120, 54, 0.4);

  // Status colors
  --color-success: rgb(50, 200, 70);
  --color-error: rgb(220, 50, 50);

  // Text colors
  --color-primarytext: rgb(240, 240, 240);
  --color-secondarytext: rgb(160, 160, 160);
  --color-secondarytext-container: rgb(200, 200, 200);

  // Categories colors
  --color-comida: #ff9800;
  --color-transporte: #2196f3;
  --color-hogar: #795548;
  --color-ocio: #9c27b0;
  --color-personal: #e91e63;
  --color-salud: #4caf50;
  --color-trabajo: #212121;
  --color-viajes: #009688;
  --color-familia: #f44336;
  --color-mercado: #ffeb3b;
  --color-educacion: #3f51b5;
  --color-otros: #9e9e9e;
}
