:root {

    --color-background: rgb(3, 8, 13);
    --color-contenedor: rgb(3, 7, 12);
    --color-contenedor-2: rgb(16, 20, 30);
  
    --color-acento2: rgb(249, 127, 80);
    --color-acento: rgb(65, 133, 255);
    --color-acento-shadow: rgba(114, 163, 255, 0.5);
  
    --color-success: rgb(65, 255, 90);
    --color-error: rgb(255, 65, 65);
  
    --color-primarytext: rgb(255, 255, 255);
    --color-secondarytext: rgb(153, 153, 153);
    --color-secondarytext-container: rgb(226, 226, 226);
  }