<ion-content fullscreen="false">
  <div style="height: 100%; width: 100%; float: right; display: flex; flex-direction: column; background-color: var(--color-background);">
    <div style="display: flex; margin: 25px; flex-grow: 1; flex-direction: column;">
      <label style="font-size: 25px; font-weight: 600;">Más</label>

      <div class="settingsOption">
        <img style="height: 30x; width: 30px;" src="assets/images/edit_user.png">
        <label style="flex-grow: 1; margin-left: 10px;"> Modificar perfil </label>
        <img style="height: 30x; width: 30px;" src="assets/images/continue.png">
      </div>

      <div class="settingsOption">
        <img style="height: 30x; width: 30px;" src="assets/images/cloud_backup.png">
        <label style="flex-grow: 1; margin-left: 10px;"> Sincronización en la nube </label>
        <img style="height: 30x; width: 30px;" src="assets/images/continue.png">
      </div>

      <div class="settingsOption">
        <img style="height: 30x; width: 30px;" src="assets/images/preferences.png">
        <label style="flex-grow: 1; margin-left: 10px;"> Preferencias de la app </label>
        <img style="height: 30x; width: 30px;" src="assets/images/continue.png">
      </div>

      <div class="settingsOption">
        <img style="height: 30x; width: 30px;" src="assets/images/fingerprint.png">
        <label style="flex-grow: 1; margin-left: 10px;"> Bloqueo con huella dactilar </label>
        <img style="height: 30x; width: 30px;" src="assets/images/continue.png">
      </div>

      <div class="settingsOption" routerLink="/statistics">
        <img style="height: 30x; width: 30px;" src="assets/images/statistics.png">
        <label style="flex-grow: 1; margin-left: 10px;"> Estadísticas </label>
        <img style="height: 30x; width: 30px;" src="assets/images/continue.png">
      </div>

      <div class="settingsOption" routerLink="/friends">
        <img style="height: 30x; width: 30px;" src="assets/images/friends.png">
        <label style="flex-grow: 1; margin-left: 10px;"> Gestionar amigos </label>
        <img style="height: 30x; width: 30px;" src="assets/images/continue.png">
      </div>

      <div class="settingsOption" routerLink="/accounts">
        <img style="height: 30x; width: 30px;" src="assets/images/wallet.png">
        <label style="flex-grow: 1; margin-left: 10px;"> Gestionar cuentas </label>
        <img style="height: 30x; width: 30px;" src="assets/images/continue.png">
      </div>

    </div>
  </div>
</ion-content>