.accountPageContainer {
  height: 100%;
  width: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  padding: 0 25px;
}

.accountsListContainer {
}
