<ion-content [fullscreen]="false">
  <app-page-header [pageTitle]="'Cuenta'"></app-page-header>
  <div class="accountPageContainer">
    <div class="accountsListContainer list-container">
      <app-account-item
        (click)="openAccountActionsModal(account.ID)"
        *ngFor="let account of accounts"
        [accountBalance]="account.Balance"
        [accountBankCode]="account.BankCode">
      </app-account-item>
    </div>
  </div>
  <app-new-register-page-footer
    (actionButton)="newAccount()"
    [buttonIcon]="'assets/images/more.png'"
    [buttonText]="'Nueva cuenta'">
  </app-new-register-page-footer>
</ion-content>
