.toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 60px;
    align-content: center;
    border: 5px solid var(--color-contenedor-2);
    border-radius: 30px;
    background: var(--color-contenedor-2);
    color: var(--color-contenedor-2);
    margin-top: 15px;
    cursor: pointer;
}

.toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50px;
    left: 0%;
    border-radius: 25px;
    background: var(--color-acento);
    transition: all 0.3s;
}

.toggleCheckbox:checked+.toggleContainer::before {
    left: 50%;
}

.toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
}

.toggleCheckbox {
    display: none;
}

.toggleCheckbox:checked+.toggleContainer div:first-child {
    color: white;
    transition: color 0.3s;
}

.toggleCheckbox:checked+.toggleContainer div:last-child {
    color: white;
    transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:first-child {
    color: white;
    transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:last-child {
    color: white;
    transition: color 0.3s;
}

.selectStartEndDate{
display: flex;
gap: 20px;
margin-top: 10px;
}