.header-container {
  padding: var(--ion-safe-area-top) var(--container-margin) var(--container-margin);
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-background);
}

.translucent-floating-header-container {
  @extend .header-container;
  position: absolute;
  width: 100%;
  z-index: 1;
  //Glass effect properties
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.back-btn {
  z-index: 2;
  height: 60px;
  width: 60px;
  padding: 15px;
  background-color: var(--color-contenedor-2);
  border-radius: 50%;
}

.page-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: 600;
}
