.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--color-background);
}

.back-btn {
  background-color: var(--color-contenedor-2);
  height: 60px;
  width: 60px;
  border-radius: 30px;
  padding: 17px;
}

.page-title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  align-self: center;
  padding-right: 20px;
  width: 100dvw;
}
