<ion-content>
  <app-page-header [pageTitle]="'Importar agenda'" [translucentFloatingHeader]="true" ]></app-page-header>
  <div class="page-container">
    <!--TODO crear un botón para seleccionar todos los contactos-->
    <!-- Search bar for quick contact search -->
    <app-search-bar (valueChange)="searchContacts()"
                    [(value)]="searchBarValue"
                    class="contacts-searchbar"
    ></app-search-bar>

    <!-- This container will hold and layout all the contact items -->
    <div class="contacts-list list-container">
      <!-- Loop through the contacts fetched from the device -->
      <div
        *ngFor="let contact of searchedContacts"
        [ngClass]="{ 'contact-item-duplicate': contact.duplicate }"
        class="contact-item"
      >
        <div class="contact-avatar">
          <p>{{ contact.name?.display?.charAt(0) }}</p>
        </div>
        <div class="contact-info">
          <label class="contact-name"> {{ contact.name?.display }} </label>
          <label class="contact-phone">
            {{ contact.phones && contact.phones[0].number }}
          </label>
        </div>
        <input [(ngModel)]="contact.checked" type="checkbox"/>
      </div>
    </div>

    <!--
    @else{
      <label> Debes dar permisos de contactos </label>
      <div></div>
      <img src="assets/images/">
    }
    -->
  </div>
  <app-accept-cancel-footer (onAcceptClick)="createFriends()" (onCancelClick)="goBack()"></app-accept-cancel-footer>
</ion-content>
