:host {
  --contacts-searchbar-height: calc(var(--list-items-gap) + var(--list-items-gap) + 55px);
}

ion-content {
  --background: var(--color-background);
}

.contacts-list {
  padding-top: calc(var(--ion-safe-area-top) + var(--header-top-margin) + var(--contacts-searchbar-height)) !important; //Extra css to avoid the searchbar only present in this page
}

//Extra searchbar styles only for this page, where it has to float under the header
.contacts-searchbar {
  margin-top: calc(var(--header-top-margin) + var(--ion-safe-area-top) + var(--list-items-gap));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 25px;
  margin-right: 25px;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--color-contenedor-2);
  cursor: pointer;
}

.contact-item-duplicate {
  background-color: var(--color-background);
  border: 1px solid var(--color-contenedor-2);

  input {
    display: none;
  }
}

.contact-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--color-contenedor);

  p {
    font-size: 20px;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 10px;
  flex-grow: 1;

  .contact-name {
    font-weight: 450;
    font-size: 16px;
  }

  .contact-phone {
    font-weight: 450;
    font-size: 12px;
    color: var(--color-secondarytext);
  }
}

.select-contact-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}
