.dropdown-container {
  position: relative;
  width: 100%;
}

.dropdown-button {
  width: 100%;
  height: 60px;
  padding: 20px 10px 20px 10px;
  background-color: var(--color-contenedor-2);
  border-radius: 20px;
  text-align: left;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  border: 0px solid var(--color-primarytext);
  align-items: center;
  justify-content: space-between;
}

.dropdown-placeholder {
  color: var(--color-primarytext);
  flex-grow: 1;
  margin-left: 10px;
}

.dropdown-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  background-color: var(--color-contenedor-2);
  border: 0px solid var(--color-acento);
  border-radius: 15px;
  margin-top: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  overflow-y: auto;
  max-height: 200px;
  z-index: 100;
}

.dropdown-menu::-webkit-scrollbar {
  display: none;
}

.dropdown-item {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
}

.dropdown-item:hover {
}
