<div class="dropdown-container">

  <!-- If there is an specified label on the input prom the parent -->
  @if (dropdownLabel != "''") {
    <h3>{{ dropdownLabel }}</h3>
  }

  <!-- Open the dropdown pressing over it -->
  <button
    (click)="toggleDropdown()"
    [ngStyle]="{ 'background-color': backgroundColor }"
    class="dropdown-button"
  >
    <span *ngIf="selectedOption; else placeholderText" class="dropdown-text-image">
      <label class="dropdown-text">{{ selectedOption?.label }}</label>
      <img [src]="selectedOption.image" alt="Icono" class="dropdown-image"/>
    </span>
  </button>

  @if (dropdownTip != "''") {
    <h3 class="tip">{{ dropdownTip }}</h3>
  }

  <!-- Placeholder when there is not a selected option -->
  <ng-template #placeholderText>
    <span class="dropdown-placeholder">{{ placeholder }}</span>
    <img alt="Open dropdown icon" class="dropdown-icon" height="96" ngSrc="assets/images/back.png" width="96"/>
  </ng-template>

  <!-- Dropdown options -->
  <ul
    *ngIf="isOpen"
    [ngStyle]="{ 'background-color': backgroundColor }"
    class="dropdown-menu"
  >
    <li
      (click)="selectOption(option)"
      *ngFor="let option of options"
      class="dropdown-item"
    >
      <img [src]="option.image" alt="Icono" class="dropdown-image"/>
      <label style="flex-grow: 1; text-align: start">{{ option.label }}</label>
    </li>
  </ul>
</div>
