.dropdown-container {
  position: relative;
  width: 100%;
}

.tip {
  font-size: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-top: 5px !important;
  margin-left: 15px;
  color: var(--color-secondarytext);
  transition: 0.5s;
  flex-grow: 1;
}

.dropdown-button {
  width: 100%;
  height: 55px;
  padding: 15px;
  background-color: var(--color-contenedor-2);
  border-radius: 20px;
  text-align: left;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
}

.dropdown-placeholder {
  color: var(--color-secondarytext);
  font-size: 14px;
  flex-grow: 1;
}

.dropdown-text-image {
  display: flex;
  flex-grow: 1;
}

.dropdown-text {
  align-content: center;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.dropdown-image {
  width: 25px;
  height: 25px;
}

.dropdown-icon {
  height: 25px;
  width: 25px;
  rotate: 270deg;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  background-color: var(--color-contenedor-2);
  border: 0px solid var(--color-acento);
  border-radius: 15px;
  margin-top: 5px;
  list-style: none;
  padding: 0;
  overflow-y: auto;
  max-height: 200px;
  z-index: 100;
}

.dropdown-menu::-webkit-scrollbar {
  display: none;
}

.dropdown-item {
  height: 55px;
  padding: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
}
