.new-due-container {
  height: 100%;
  width: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  padding: 25px;
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.page-title {
  font-size: 25px;
  font-weight: 600;
}

.stepperLine {
  .icnStepper {
    img {
      flex-grow: 1;
    }
  }

  .stepperText {
    label:first-child {
      color: var(--color-primarytext);
    }
    label:last-child {
      color: var(--color-secondarytext);
    }
  }
}

.progress-bar-container {
  margin-top: 10px;
  display: flex;
  gap: 5px;

  .progress-step {
    height: 5px;
    border-radius: 5px;
    background-color: var(--color-secondarytext);
    flex-grow: 1;
  }
}

.page-content {
  height: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

// Page 1
.amigoItem {
  .icnAmigo img {
    // Assuming you want to style the image inside, if not, apply to .icnAmigo
  }

  .friend-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 10px;
    flex-grow: 1;

    .friend-name {
      font-weight: 450;
      font-size: 16px;
      flex-grow: 1;
    }

    .friend-phone {
      font-weight: 450;
      font-size: 12px;
      color: var(--color-secondarytext);
    }
  }

  .btnAñadirAmigo {
    img {
      height: 22px;
      width: 22px;
      margin-left: 5px;
    }
  }
}

// Page 2
.btnAñadirAmigo.selected {
  color: var(--color-success);
}

.amount-container {
  display: flex;
  margin-top: 20px;

  .currency-symbol {
    font-size: 50px;
    font-weight: 600;
  }
}

.concept-label {
  font-size: 20px;
  margin-top: 25px;
  font-weight: 600;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
}

.concept-input {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 10px;
  outline: none;
  border: 0;
  background-color: var(--color-contenedor-2);
  border-radius: 20px;
}

// Page 3
.account-selection-label {
  font-size: 16px;
  display: flex;
  flex-direction: column-reverse;
}

.account-selection-container {
  display: flex;
  margin-top: 20px;
}

// Page 4
.page4SummaryContainers {
  .summary-label {
    font-size: 16px;
    display: flex;
    flex-direction: column-reverse;
  }

  .summary-amount {
    font-size: 30px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5px;
    font-weight: 600;
    color: var(--color-acento);
  }

  .summary-concept {
    font-size: 14px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5px;
  }
}

.prevnextLine {
  .next-btn {
    padding: 10px;
    border-radius: 15px;
    background-color: var(--color-acento);
  }

  .prev-btn {
    padding: 10px;
    display: flex;
    border-radius: 15px;
    background-color: var(--color-acento);

    img {
      height: 22px;
      width: 22px;
    }
  }
}
