<ion-content fullscreen="false">
  <div class="new-due-container">
    <div class="content-wrapper">
      <label class="page-title">Me han prestado</label>

      <div class="stepperLine">
        <div class="icnStepper">
          <img src="assets/images/money_recive.svg" />
        </div>

        <div class="stepperText">
          <label>{{headerAction}}</label>
          <label>{{headerStep}}</label>
        </div>
      </div>

      <div class="progress-bar-container">
        <div
          class="progress-step"
          [ngStyle]="{'background-color': pageNumber >= 1 ? 'var(--color-acento)' : 'gray'}"
        ></div>
        <div
          class="progress-step"
          [ngStyle]="{'background-color': pageNumber >= 2 ? 'var(--color-acento)' : 'gray'}"
        ></div>
        <div
          class="progress-step"
          [ngStyle]="{'background-color': pageNumber >= 3 ? 'var(--color-acento)' : 'gray'}"
        ></div>
        <div
          class="progress-step"
          [ngStyle]="{'background-color': pageNumber >= 4 ? 'var(--color-acento)' : 'gray'}"
        ></div>
      </div>

      <div class="page-content">
        @if (pageNumber == 1) {
        <div>
          <div class="amigoItem" *ngFor="let friend of friends ">
            <div class="icnAmigo"><img src="assets/images/pfp.webp" /></div>
            <div class="friend-details">
              <label class="friend-name"> {{friend.FullName}} </label>
              <label class="friend-phone"> {{friend.Phone}} </label>
            </div>
            <div class="btnAñadirAmigo">
              Seleccionar
              <img src="assets/images/more.png" />
            </div>
          </div>
        </div>
        } @if (pageNumber == 2) {
        <div class="amigoItem">
          <div class="icnAmigo"><img src="assets/images/pfp.webp" /></div>
          <div class="friend-details">
            <label class="friend-name">{{selectedFriend?.FullName}}</label>
            <label class="friend-phone"> {{selectedFriend?.Phone}} </label>
          </div>
          <div class="btnAñadirAmigo selected">
            Seleccionado
            <img src="assets/images/selected.png" />
          </div>
        </div>

        <div class="amount-container">
          <label class="currency-symbol">$</label>
          <input
            class="importeInput"
            type="number"
            id="fname"
            name="fname"
            size="9"
          />
        </div>

        <label class="concept-label">Concepto</label>
        <input
          class="concept-input"
          type="text"
          id="fname"
          name="fname"
          size="9"
          [(ngModel)]="concept"
        />
        } @if (pageNumber == 3) {

        <label class="account-selection-label"
          >Elige a que cuenta se añadirá el dinero recibido</label
        >

        <div class="account-selection-container">
          <div class="accountCardSelected">
            <div style="display: flex; flex-grow: 1">
              <label style="flex-grow: 1"> Revolut </label>
              <img
                style="height: 25px; width: 25px"
                src="assets/images/revolut_icon.png"
              />
            </div>

            <div>
              <label> Saldo disponible </label>
              <label> $54,92 </label>
            </div>
          </div>
        </div>
        } @if (pageNumber == 4) {
        <div class="page4SummaryContainers">
          <label class="summary-label"> Amigo seleccionado </label>

          <div class="amigoItem" style="margin-top: 10px">
            <div class="icnAmigo"><img src="assets/images/pfp.webp" /></div>
            <div class="friend-details">
              <label class="friend-name"> Jose Luis </label>
              <label class="friend-phone"> +34 678 65 75 85 </label>
            </div>
          </div>
        </div>

        <div class="page4SummaryContainers">
          <label class="summary-label"> Importe transacción </label>
          <label class="summary-amount"> 54$ </label>
        </div>

        <div class="page4SummaryContainers">
          <label class="summary-label"> Cuenta a añadir </label>
          <div
            class="accountCard"
            style="
              flex-grow: 0;
              width: 100%;
              border-radius: 20px;
              margin-top: 5px;
            "
          >
            <div style="display: flex; flex-grow: 1">
              <label style="flex-grow: 1"> Revolut </label>
              <img
                style="height: 25px; width: 25px"
                src="assets/images/revolut_icon.png"
              />
            </div>

            <div style="display: flex; gap: 10px">
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  gap: 5px;
                  align-items: center;
                "
              >
                <label
                  style="
                    font-size: 12px;
                    color: var(--color-secondarytext-container);
                  "
                >
                  Saldo disponible
                </label>
                <label
                  style="
                    font-size: 28px;
                    color: var(--color-primarytext);
                    font-weight: 600;
                  "
                >
                  $54,92
                </label>
              </div>

              <div
                style="
                  flex-grow: 1;
                  align-items: center;
                  display: flex;
                  justify-content: center;
                  rotate: 180deg;
                "
              >
                <img
                  style="height: 30px; width: 30px"
                  src="assets/images/back.png"
                />
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: column;
                  gap: 5px;
                  align-items: center;
                "
              >
                <label style="font-size: 12px; color: var(--color-success)">
                  Tras operación
                </label>
                <label
                  style="
                    font-size: 28px;
                    color: var(--color-success);
                    font-weight: 600;
                  "
                >
                  $108,92
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="page4SummaryContainers">
          <label class="summary-label"> Concepto transacción </label>
          <label class="summary-concept">
            Este es el concepto de la transacción
          </label>
        </div>
        }
      </div>

      <div class="prevnextLine">
        <div class="next-btn" (click)="nextPage()">{{nextBtnText}}</div>
        <div class="prev-btn" (click)="prevPage()">
          <img src="assets/images/back.png" />
        </div>
      </div>
    </div>
  </div>
</ion-content>
