/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "@ionic/angular/css/palettes/dark.always.css";
@import "@ionic/angular/css/palettes/dark.system.css";
/* @import "@ionic/angular/css/palettes/dark.class.css"; */

//Inter font, from google fonts
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter_18pt-Medium.ttf") format("truetype");
}

* {
  --ion-font-family: Inter;
}

//Style for all the headers used in the app
h1 {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-primarytext);
}

h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primarytext);
}

body {
  background-color: var(--color-background);
  color: white;
}

//Bouncy buttons and fields when clicked, used accross all thea app
.reactiveField {
  cursor: pointer;
  user-select: none;
  transition: transform 0.15s ease-out;

  .reactiveField:active {
    transform: scale(1.03, 1);
  }
}

.dataInput {
  //Style for all the textboxes used in the app
  width: 100%;
  height: 55px;
  padding: 15px;
  outline: none;
  border: 0px;
  background-color: var(--color-contenedor-2);
  border-radius: var(--field-radius);

  .reactiveBtn {
    cursor: pointer;
    user-select: none;
    transition: transform 0.15s ease-out;

    .reactiveBtn:active {
      transform: scale(1.1, 1);
    }
  }
}

//Customize all the checkboxes used in the app
input[type="checkbox"] {
  /* Remove default browser appearance */
  -webkit-appearance: none;
  appearance: none;

  /* Use app's theme colors */
  background-color: var(--color-contenedor);
  border: 2px solid var(--color-secondarytext-container);
  border-radius: 8px;
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
  background-color: var(--color-acento);
  border-color: var(--color-acento);
  background-image: url("/assets/images/check.png");
  background-size: contain;
  background-repeat: no-repeat;
}

//Common configuration for a fullscreen page, without top and bottom margins.
.page-container {
  display: flex;
  //No margin on top and bottom, so the items can go all the way up on the status bar, under header and footer
  padding: 0px 25px;
  height: 100%;
  flex-direction: column;
  background-color: var(--color-background);
}

//Fullscreen list container,with padding to move the content under the header and over the footer, but allowing to go under it at some point
.list-container {
  display: flex;
  flex-direction: column;
  gap: var(--list-items-gap);
  height: 100%;
  padding-top: calc(var(--header-top-margin) + var(--list-items-gap) + var(--ion-safe-area-top));
  //Header height + 1 regular gap margin(as the page container doesnt have it in this case) + padding for separation between header and items + status bar
  padding-bottom: calc(var(--ion-safe-area-bottom) + var(--footer-bottom-margin) + var(--list-items-gap));
  //Footer height + 1 regular gap margin(as the page container doesnt have it in this case) + padding for separation between header and items + status bar
  overflow-y: scroll;
}
